body { /* Corpo da página */
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(68.15deg, #242324 16.62%, #000000 85.61%);
    transition: background-color 0.5s;
    margin: 0;
    padding: 2vh 2vw; /* Unidades de viewport para margem e padding */
    padding-top: 80px;
}
/* ------------------------------------------------------------------------------------------------ */

hr { /*separador das páginas*/
    border: 0;
    height: 5px;
    background-color: #504b4b;
    margin-top: 20px; 
    margin-bottom: 20px; 
    border-radius: 2px;
    width: 80%;
}

.menu { /* Barra de navegação */
    position: fixed;
    margin-left: 3%;
    top: 10px; 
    width: 100vh;
    z-index: 1000;
    background-color: #1d1d1d;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.menu a { /* Links da barra de navegação */
    text-decoration: none;
    font-size: medium;
    color: rgb(247, 242, 234);
    padding: 10px;
    transition: all 0.3s ease;
    border-bottom: 5px solid transparent;
}
.menu a:hover { /* Animação da barra de navegação */
    background-color: #0f0f0f;
    border-bottom: 3px solid #ffc039;
    border-radius: 4px;
}
/* ------------------------------------------------------------------------------------------------ */

/* Texto da introdução */
.intro h3 {
    color: rgb(255, 255, 255);
}
.intro h1 {
    font-size:xx-large;
    color: rgb(255, 255, 255);
}
.intro h4 {
    color: rgb(247, 242, 234);
}
/* ------------------------------------------------------------------------------------------------ */

/* Imagem da introdução */
.intro-img {
    max-width: 50%;
    height: auto;
}
.intro img {
    max-width: 80%;
    height: auto;
}
.intro-container { /* Container da introdução */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1d1d1d;
    border-radius: 50px;
    margin: 0 3%;
}

.intro-text { /* Texto da introdução */
    flex: 1;
}
/* ------------------------------------------------------------------------------------------------ */

/* Botão "Sobre Mim" */
.botao-sobre {
    text-align: center;
    margin-top: 20px;
}
.botao-sobre a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0c0b0b;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-size:larger;
}
.botao-sobre a:hover {
    background-color: #ffc039;
    color: #000000;
}
/* ------------------------------------------------------------------------------------------------ */

/* Linha embaixo dos títulos*/
h2 {
    color: white;
    text-align: center;
    margin: 50px;
    position: relative;
    display: inline-block; 
    padding-bottom: 10px; 

}
/* Config das linhas dos títulos */
h2::after{
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: #ffc039;
    border-radius: 1px; 
}
/* ------------------------------------------------------------------------------------------------ */

.titulo-projetos{
    text-align: center;
}

/* Estilos para a seção de projetos */
.projetos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projeto-item {
    position: relative;
    width: 40%;
    margin: 2.5%;
    overflow: hidden; 
}

.projeto-item img {
    width: 100%;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.projeto-item:hover img {
    transform: scale(1.05); 
}

.projeto-info { /* informações do projeto na imagem*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0); 
    color: white;
    padding: 10px;
    transform: translateY(100%); 
    transition: transform 0.3s ease; 
}

.projeto-item:hover .projeto-info {
    transform: translateY(0); /* Move a barra para cima para cobrir a imagem ao passar o mouse */
    
}

.projeto-info h3,
.projeto-info p {
    margin: 0; 
}

/* Estilos para a seção de habilidades */
.habilidades {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.hard-skills, .soft-skills {
    width: 45%; 
    color: white;
}

.hard-skills img{
    max-width: 50%;
}

/* Estilos para a seção sobre mim */
.sobre {
    text-align: center; 
    padding: 20px;
    color: white;
}

.sobre h4{
    text-justify: auto;
    margin: 80px;
}

.titulo-contato {
 text-align: center;
}

.contato {
    text-align: center; 
}

.contato h2 {
    padding: 20px;
    margin: 0; 
    margin-left: 90vh;
}

.contato a {
    display: inline-block; 
    margin: 0 30px; 
    background-color: #333; 
    border-radius: 20px;
    transition: background-color 0.3s; 
    margin-bottom: 40px;
}


.contato img {
    max-width: 60px; 
    padding: 10px;
}

.contato a:hover {
    background-color: #000000;
    opacity: 0.8;
}

/* Configurações para mobile */
@media only screen and (max-width: 900px){

    body {
        font-size: 13px;
        max-width: 100%;
        overflow-x: hidden;
    }

    .menu{
        max-width: 90%;
    }

    .intro-container{
        max-width: 100%;
        padding: 15px;
    }

    .intro-img{
        max-width: 60%;
    }

    .intro h3 {
        font-size:small;
    }

    .intro h1 {
        font-size:large;
    }
    
    .intro h4 {
        font-size:smaller;
    }

    .botao-sobre a{
        margin: 15px;
    }

    .habilidades img{
        max-width: 20%
    }

    .projeto-info{
        padding: 8px;
    }

@media only screen and (min-width: 600px) {

    .menu {
        display: none;
    }

}}
